.nombre{
   
    color: blue;
    font-size: 50px;
}

#r1{
    color: skyblue;
}
#r2{
    color: rgb(21, 134, 123);
}
#r3{
    color: rgb(9, 75, 3);
}
#r4{
    color: red;
}
#r5{
    color: rgb(218, 13, 149);
}

ul{
    font-size: 20px;
}

h2{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

/*ESTRFAS*/

p{
    font-size: 15px;
}
#e1{
    color: saddlebrown;
    font-family: 'DotGothic16', sans-serif;
}

#e2{
    color: slateblue;
    font-family: 'Krona One', sans-serif;
}
#e3{
    color: springgreen;
    font-family: 'Pacifico', cursive;;
}
#e4{
    color: yellowgreen;
    font-family: 'Ravi Prakash', cursive;
}
/*NOMBRE FINAL*/
.letras{
    display: inline-block;
    font-size: 55px;
}

.primer-nombre{
    font-family: 'Stick', sans-serif;
    color: darkslateblue;
    font-weight: bold;
}
.apellido{
    font-family: 'Anton', sans-serif;
    color: forestgreen;
    font-weight: bold;
}